.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.img-card {
    margin: 20px;
}

.img-card img {
    width: 300px;
    max-height: 400px;
    object-fit: cover;
}

.img-card .card-heading {
    font-weight: bold;
}

.img-card .card-subheading {
    max-width: 300px;
}